.cover__link {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center center;
  color: inherit;
  z-index: 1;
  padding: 245px 0;
}

.cover__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:  #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .cover__link {
    padding: 195px 0;
  }
}

@media (max-width: 768px) {
  .cover__link {
    padding: 115px 0;
  }
}

@media (max-width: 425px) {
  .cover__link {
    padding: 33px 0;
  }
}

