.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 284px);
  grid-template-rows: repeat(auto-fit, 213px);
  gap: 16px;
  padding: 92px 48px;
  justify-content: center;
  align-items: center;
  /* object-fit: cover; */
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 225px);
    gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 352px);
    grid-template-rows: repeat(auto-fit, 264px);
    gap: 16px;
    padding: 88px 24px;
  }
}

@media (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 150px);
    gap: 15px;
    padding: 64px 5px;
  }
}

@media (max-width: 360px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-template-rows: repeat(auto-fit, 216px);
    gap: 12px;
    padding: 64px 16px;
  }
}
