.lead{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 984px;
  padding: 0 148px;
}


@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 768px;
    padding: 0;
  }
}

@media (max-width: 320px) {
  .lead {
    max-width: 320px;
    padding: 0;
  }
}
