.lead{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 984px;
  width: 76.875%;

}

@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
    width: 90.625%;
  }
}

@media (max-width: 768px) {
  .lead {
    width: 100%;
  }
}

