.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  height: 52px;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.header__logo:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
    background-size:100% 100%;
  }
}
