.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  line-height: 28px;
  max-width: 1184px;
  width: 92.5%;
  padding: 28px 0 56px;
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
    width: 90.625%;
    padding: 28px 0 48px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
    width: 93.75%;
  }
}

@media (max-width: 425px) {
  .header {
    font-size: 18px;
    line-height: 20px;
    width: 90%;
    min-width: 288px;
    padding: 16px 0 48px;
  }
}

