.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  display: grid;
  align-content: flex-start;
  gap: 26px;
  margin: 0;
}

@media (max-width: 1024px) {
  .place__paragraph {
    gap: 27px;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    gap: 25px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 680px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
