.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px;
  width: 47.3%;
  align-items: center;


}

@media (max-width: 1080px) {
  .cover__title {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .cover__title {
    width: 100%;

  }
}

@media (max-width: 530px) {
  .cover__title {
   font-size: 46px;
   line-height: 48px;


  }
}

@media (max-width: 420px) {
  .cover__title {
   font-size: 32px;
   line-height: 35px;
   margin: 0 0 16px;

  }
}
