.place {
  padding: 0 148px 80px;
  display: grid;
  grid-template-columns: 1fr 1.052fr;
  gap: 48px 40px;

}

.place:last-child {
    padding: 0 148px 92px;
  }

@media (max-width: 1024px) {
  .place {
    padding: 0 48px 80px;
    grid-template-columns: 1fr 1.036fr;
    gap: 48px 32px;
  }
}

@media (max-width: 1024px) {
.place:last-child {
    padding: 0 48px 92px;
  }
}

@media (max-width: 768px) {
  .place {
    padding: 0 24px 73px;
    grid-template-columns: 1fr 1.035fr;
    gap: 48px 38px;
  }
}

@media (max-width: 768px) {
  .place:last-child {
    padding: 0 24px 90px;
  }
}

@media (max-width: 470px) {
  .place {
    padding: 0 0 73px;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media (max-width: 470px) {
  .place:last-child {
    padding: 0 0 66px;
  }
}
